<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>jMail</display-name>
  <description>Project</description>
  <welcome-file-list>
    <welcome-file>homepage.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Indexcontroller</servlet-name>
    <servlet-class>com.industry.controller.Indexcontroller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Indexcontroller</servlet-name>
    <url-pattern>/Indexcontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Registercontroller</servlet-name>
    <servlet-class>com.industry.controller.Registercontroller</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout1</servlet-name>
    <servlet-class>com.industry.controller.Logout1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout1</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Registercontroller</servlet-name>
    <url-pattern>/Registercontroller</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MessageController</servlet-name>
    <servlet-class>com.industry.controller.MessageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MessageController</servlet-name>
    <url-pattern>/messageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>SendMail</servlet-name>
    <servlet-class>com.industry.controller.SendMail</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendMail</servlet-name>
    <url-pattern>/sendMail</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/error404.html</location>
  </error-page>
</web-app>